WORDPRESS_ADMIN_EMAIL=chloe@shmagicwheels.com
WORDPRESS_ADMIN_USER=magicwheels_admin
WORDPRESS_ADMIN_PASSWORD=change-this-before-public-demo
WORDPRESS_SITE_TITLE=MAGIC WHEELS
WORDPRESS_SITE_URL=http://localhost:8080
